<section class="mainbar" >
    <section class="matter">
        <div class="container">
            

            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="{{vm.title}}" allow-collapse="false"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                <tr>
                                    <th></th>                                    
                                    <th>Division Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="p in vm.divisions">
                                    <td style="text-align: left">
                                        <a id="Edit" href ng-click="vm.openEditDivision(p)">Edit </a>|
                                        <a id="Delete" href ng-click="vm.openDeleteDivision(p)">Delete </a>
                                    </td>
                                    
                                    <td style="text-align: left">{{p.DivisionName}}</td>

                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
