<div class="col-md-1">

</div>
<div class="col-md-10">
    <H1>News From The League</H1>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>{{vm.selectTitle}} </div>
            <div> <p ng-bind="vm.selectModified | date:'yyyy/MM/dd HH:mm'"></p></div>
        </div>
        <div class="panel-body">{{vm.selectDescription}}</div>
    </div>

    <h3>All News</h3>
    <div data-ng-repeat="new in vm.news">
        <div class="row">
        
            <div class="col-md-2"><p ng-bind="new.modified | date:'yyyy/MM/dd'"></p></div>
            <div class="col-md-10"><a href ng-click="vm.selectNew(new)">{{new.title}}</a></div>
        </div>
    </div>
</div>
<div class="col-md-1">
    
</div>
