<div class="col-md-1"></div>
<div class="col-md-6">

	<div class="row">
		<h2>{{vm.team.TeamName}}</h2>
		
		
		 <div data-cc-widget-header >
                <b>From de Division: {{vm.team.Division.DivisionName}}</b>
                    <div data-cc-widget-header >
                    <div style="text-align:right"><b> Players </b> </div>
                        <div class="widget-content text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th> Name</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in vm.players " >
                                        <td>{{p.FirstName}} {{p.LastName}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            <div class="widget-foot">
                            <div class="clearfix">
                                <div class="alert alert-danger" data-ng-show="vm.error_message.length>0" >
                                              <p class="alert-link">{{vm.error_message}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		
	</div>

</div>