<section class="mainbar">
    <section class="matter">
        <div class="container">
            <h2>
                Standings
            </h2>
            <div class="form-group">
                <label for="season">Season</label>

                <select id="season" class="form-control" name="season" data-ng-model="vm.season" data-ng-change="vm.getScheduleBySeason(vm.season,vm.schedules, vm.teams)" data-ng-options="season.Id as season.SeasonName for season in vm.seasons">
                    <option value="">--Choose Season--</option>
                </select>

            </div>
            <div class="form-group">
                <label for="division">Division</label>

                <select id="division" class="form-control" name="division" data-ng-model="vm.division" data-ng-change="vm.getStandingBySeasonDivision(vm.season,vm.division,vm.schedules, vm.teams)" data-ng-options="division.DivisionId as division.Division.DivisionName for division in vm.divisionSchedule | unique:'DivisionId'">
                    <option value="">--Choose Division--</option>
                </select>
            </div>

            <div class="row">
                <div class="col-md-6">
                    
                    <div class="widget wviolet" ng-repeat="Season in vm.newStandings.Season">
                        <span>Season Name: {{ Season.objSeason.SeasonName }}</span>

                         <div class="widget wviolet" ng-repeat="Divisions in Season.Division">
                             <div data-cc-widget-header title="Division: {{ Divisions.Division.DivisionName }}" allow-collapse="false"></div>


                             <div class="widget-content text-center text-info">
                                <div>
                                    
                                    <table class="table table-condensed table-striped">
                                        <thead>
                                        <tr>
                                            <th>Team</th>
                                            <th>Wins</th>
                                            <th>Losses</th>
                                            <th>Ties</th>
                                            <th>Points</th>
                                            <th>Goals For</th>

                                            <th>Goals Against</th>
                                            <th>Differential</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="p in Divisions.DataStanding | orderBy:'-Wins'">

                                            <td style="text-align: left">{{p.TeamName}}</td>
                                            <td style="text-align: left">{{p.Wins}}</td>
                                            <td style="text-align: left">{{p.Losses}}</td>
                                            <td style="text-align: left">{{p.Ties}}</td>
                                            <td style="text-align: left">{{p.Points}}</td>

                                            <td style="text-align: left">{{p.GoalsFor}}</td>
                                            <td style="text-align: left">{{p.GoalsAgainst}}</td>
                                            <td style="text-align: left">{{p.Differential}}</td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>


                         </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>
   
</section>
