<div class="col-md-1"></div>
<div class="col-md-10">
<section class="mainbar">
    <section class="matter">
        <div >
            <h2>
                Standings
            </h2>

             <div class="form-group">
                <label for="division">Season</label>

                <select id="season" class="form-control" name="season" data-ng-model="vm.season" >
                    <option value="">--Choose Season--</option>
                    <option ng-repeat="season in vm.standings | unique:'SeasonId'" value="{{season.SeasonId}}">{{season.Season.SeasonName}}</option>
                </select>
            </div>
             <div class="form-group">
                <label for="division">Division</label>

                <select id="division" class="form-control" name="division" data-ng-model="vm.division" >
                    <option value="">--Choose Division--</option>
                    <option ng-repeat="division in vm.standings | unique:'DivisionId'" value="{{division.DivisionId}}">{{division.Division.DivisionName}}</option>
                </select>
            </div>

            <!--<div data-cc-widget-header data-ng-repeat="(SeasonId,standingsSeason) in vm.standings | filter:{SeasonId:vm.season} | groupBy: 'SeasonId'">
               <b>Season: {{standingsSeason[$index].Season.SeasonName}}</b>-->

            <div data-cc-widget-header 
            data-ng-repeat="(SeasonName,standingsSeason) in vm.standings | filter:{SeasonId:vm.season} | groupBy: 'Season.SeasonName'">
               
                <div class="card-header">
                    <b>Season: {{SeasonName}}</b>
                </div>
                <div data-cc-widget-header 
                data-ng-repeat="(DivisionName,standingsDivision) in standingsSeason | filter:{DivisionId:vm.division}| groupBy: 'Division.DivisionName'">
                    <div class="card-header">
                                <b>{{DivisionName}}</b>   
                    </div>

                      <div class="card-block p-0">
                                <div>
                                
                            <table class="table table-bordered table-sm m-0">
                                    <thead class="">
                                        <tr>
                                            <th>Team</th>
                                            <th>Wins</th>
                                            <th>Losses</th>
                                            <th>Ties</th>
                                            <th>Points</th>
                                            <th>Goals For</th>

                                            <th>Goals Against</th>
                                            <th>Differential</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="p in standingsDivision | filter:{SeasonId:vm.season,DivisionId:vm.division}| orderBy:'-Wins'">

                                            <td style="text-align: left">{{p.TeamName}}</td>
                                            <td style="text-align: left">{{p.Wins}}</td>
                                            <td style="text-align: left">{{p.Losses}}</td>
                                            <td style="text-align: left">{{p.Ties}}</td>
                                            <td style="text-align: left">{{p.Points}}</td>

                                            <td style="text-align: left">{{p.GoalsFor}}</td>
                                            <td style="text-align: left">{{p.GoalsAgainst}}</td>
                                            <td style="text-align: left">{{p.Differential}}</td>

                                        </tr>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                </div>
                </p>
            </div>

            </div>
        </div>
    </section>
   
</section>
</div>
