<section class="mainbar">
    <section class="matter">
        <div class="container">
            <h2>Teams</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Teams"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th> Name</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="p in vm.teams">
                                        <td>{{p.TeamName}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>