<main class="panel pt-5">
    <div class="card mb-5">
        <div class="card-header">
            <b>Seasons</b>
            <div class="pull-right"><a [routerLink]="['/addseason']" class="btn btn-sm btn-primary btn-create">Create New</a></div>            
        </div>
        <div class="card-block p-0">
            <table class="table table-bordered table-sm m-0">
                <thead class="">
                    <tr>
                        <th></th>
                        <th class="toCenter">Season Name</th>
                        <th class="toCenter">Season Start</th>
                        <th class="toCenter">Season End</th>
                        <th class="toCenter">Current</th>
                        <!--<th>Created</th>
                        <th>Created By</th>
                        <th>Modified</th>
                        <th>Modified By</th>                        -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let season of seasons'>                        
                        <td>
                            <a class="btn btn-sm btn-primary btn-create" [routerLink]="['/season', season.Id]" >Edit</a>
                            <a class="btn btn-sm btn-danger" (click)='remove(season.Id)' >Delete</a>
                        </td>
                        <td class="toCenter">{{season.SeasonName}}</td>
                        <td class="toCenter">{{season.SeasonStart | date:'MM/dd/yyyy'}}</td>
                        <td class="toCenter">{{season.SeasonEnd | date:'MM/dd/yyyy'}}</td>
                        <td class="toCenter">
                            <input type="checkbox" [checked]="season.Active" (click)="ItemSelected(season.Id, season.Active)" class="form-control toCheckbox" >
                        </td>
                        <!--<td></td>
                        <td></td>
                        <td></td>
                        <td></td>                 -->
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer p-0">
        </div>
    </div>
</main>
