<main class="panel pt-5">
    <h2><b>{{teamName}}</b></h2>
    <div class="card mb-5">
        <div class="card-header">
            <b>Schedule</b>            
        </div>
        <div class="card-block p-0">
            <table class="table table-bordered table-sm m-0">
                <thead class="">
                    <tr>
                        <th class="toCenter">Status</th>
                        <th class="toCenter">Date</th>
                        <th class="toCenter">Time</th>
                        <th class="toRight">Home</th>
                        <th class="toCenter">Score</th>
                        <th>Away</th>  
                        <th class="toCenter">Venue</th>                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let schedule of schedules | gameTeamFilter: teamId'>                        
                        <td class="toCenter">{{schedule.Status}}</td>
                        <td class="toCenter">{{schedule.DateTime | date:'MM/dd/yyyy'}}</td>
                        <td class="toCenter">{{schedule.DateTime | date:'h:mm a'}}</td>
                        <td class="toRight"><span class='link' (click)="routeToLink(schedule.HomeTeam.Id)">{{schedule.HomeTeam.TeamName}}</span></td>                        
                        <td class="toCenter">1 - 0</td>
                        <td><span class='link' (click)="routeToLink(schedule.AwayTeam.Id)">{{schedule.AwayTeam.TeamName}}</span></td>                        
                        <td class="toCenter">{{schedule.Venue.VenueName}}</td>                 
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer p-0">
        </div>
    </div>


    <div class="card mb-5">
        <div class="card-header">
            <b>Players</b>
            <div class="pull-right"><a class="btn btn-sm btn-primary btn-create" (click)="OpenModel()">Create New</a></div>                        
        </div>
        <div class="card-block p-0">
            <table class="table table-bordered table-sm m-0">
                <thead class="">
                    <tr>
                        <th></th>
                        <th>Player</th>
                        <th>Created</th>
                        <th>Created By</th>
                        <th>Modified</th>
                        <th>Modified By</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let player of players | playerFilter: teamId'>
                      <td style="width: 15%;">
                            <a class="btn btn-sm btn-primary btn-create" (click)="EditOpenModel(player.Id)" >Edit</a>
                            <a class="btn btn-sm btn-danger" (click)='remove(player.Id)' >Delete</a>
                      </td>
                      <td>{{player.FirstName}} {{player.LastName}}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer p-0">
        </div>
    </div>


    <!-- BEGIN MODAL -->
    <modal #myModal >  
        <modal-header [show-close]="true">
            <h3>Add Player</h3>
        </modal-header>
        <modal-body>
            <div class="form-group" [class.has-error]="!IsInvalid">
                    <label for="firstName">First Name</label>
                    <input class="form-control" id="firstName" name="firstName" [(ngModel)]="Player.FirstName" type="text" placeholder="First Name" required>
                    <p *ngIf="!IsInvalid" class="help-block" style="color: red">First Name is required.</p> 
            </div>     

            <div class="form-group" [class.has-error]="!IsInvalid">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" name="lastName" [(ngModel)]="Player.LastName" type="text" placeholder="Last Name" required>
                    <p *ngIf="!IsInvalid" class="help-block" style="color: red">Last Name is required.</p> 
            </div>

        </modal-body>
        <modal-footer>                                    
            <button type="button" class="btn btn-primary" (click)="Save()">OK</button>
            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
        </modal-footer>        
        
    </modal>                   
    <!-- END MODAL -->

    <!-- BEGIN MODAL -->
    <modal #myEditModal >          
        <modal-header [show-close]="true">
            <h3>Edit Player</h3>
        </modal-header>
        <modal-body>
            <div class="form-group" [class.has-error]="!IsInvalid">
                    <label for="firstName">First Name</label>
                    <input class="form-control" id="firstName" name="firstName" [(ngModel)]="Player.FirstName" type="text" placeholder="First Name" required>
                    <p *ngIf="!IsInvalid" class="help-block" style="color: red">First Name is required.</p> 
            </div>     

            <div class="form-group" [class.has-error]="!IsInvalid">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" name="lastName" [(ngModel)]="Player.LastName" type="text" placeholder="Last Name" required>
                    <p *ngIf="!IsInvalid" class="help-block" style="color: red">Last Name is required.</p> 
            </div>

        </modal-body>
        <modal-footer>                                    
            <button type="button" class="btn btn-primary" (click)="update()">OK</button>
            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
        </modal-footer>        
        
    </modal>                   
    <!-- END MODAL -->
</main>
