<main class="panel pt-5 no-sidebar">

    <h2><b>Schedules</b></h2>
    
    <div *ngFor='let division of divisions' class="card mb-5">
        <div class="card-header">
          <b>Division: {{division.DivisionName}}</b>         
        </div>
        
        <div class="card-block p-0">
            <table class="table table-bordered table-sm m-0">
                <thead class="">
                    <tr>
                        <th>Status</th>                        
                        <th>Date</th>
                        <th>Time</th>
                        <th>Home</th>
                        <th>Score</th>
                        <th>Away</th>
                        <th>Venue</th>
                    </tr>
                </thead>
                <tbody>  
                    <tr *ngFor='let schedule of schedules | divisionScheduleFilter: division.Id' >                        
                        <td class="toCenter">{{schedule.Status}}</td>
                        <td class="toCenter">{{schedule.DateTime | date:'MM/dd/yyyy'}}</td>
                        <td class="toCenter">{{schedule.DateTime | date:'h:mm a'}}</td>
                        <td class="toRight"><a [routerLink]="['/vwteam', schedule.HomeTeam.Id]">{{schedule.HomeTeam.TeamName}}</a></td>
                        <td class="toCenter">1 - 0</td>
                        <td><a [routerLink]="['/vwteam', schedule.AwayTeam.Id]">{{schedule.AwayTeam.TeamName}}</a></td>
                        <td class="toCenter">{{schedule.Venue.VenueName}}</td> 
                    </tr>                          
                </tbody>
            </table>
        </div>

        <div class="card-footer p-0">
        </div>
    </div>
</main>
