<div class="main-form main-center">
<h3>{{pageTitle}}</h3>

<form #form="ngForm" (submit)="submitForm(form)" novalidate>    
    <!-- NAME -->
    <div class="form-group" [class.has-error]="name.invalid && !name.pristine" >
        <label for="title" class="control-label">Name</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="season.SeasonName" class="form-control" placeholder="Name" required />
        <p *ngIf="name.invalid && !name.pristine" class="help-block">Name is required.</p>           
    </div>

    <!-- START DATE -->
    <div class="form-group" [class.has-error]="SeasonStart.invalid && !SeasonStart.pristine">
        <label for="SeasonStart">Start Date</label>
        <input type="date" #SeasonStart="ngModel" name="SeasonStart" [ngModel] ="season.SeasonStart | date:'yyyy-MM-dd'" (ngModelChange)="season.SeasonStart = $event" class="form-control" placeholder="yyyy-MM-dd" required />
        <p *ngIf="SeasonStart.invalid && !SeasonStart.pristine" class="help-block">Start Date is required.</p>
    </div>

    <!-- END DATE -->
    <div class="form-group" [class.has-error]="SeasonEnd.invalid && !SeasonEnd.pristine">
        <label for="seasonStart">End Date</label>
        <input type="date" #SeasonEnd="ngModel" name="SeasonEnd" [ngModel] ="season.SeasonEnd | date:'yyyy-MM-dd'" (ngModelChange)="season.SeasonEnd = $event" class="form-control" placeholder="yyyy-MM-dd" required />
        <p *ngIf="SeasonEnd.invalid && !SeasonEnd.pristine" class="help-block">End Date is required.</p>
    </div>
    
    <!-- SUBMIT BUTTON -->
    <div class="form-group">    
        <input type="submit" class="btn btn-primary" [disabled]="form.invalid" value="Update" /> 
        <a class='btn btn-primary' (click)='onBack()' style='width:80px'>
            Back
        </a>   
    </div>
</form>
</div>
season {{season|json}}
<br>
Angular {{form.value | json}}
<br>
for  is valid {{form.valid}}
