<main class="panel pt-5">
    <div class="card mb-5">
        <div class="card-header">
            <b>Fields</b>
            <div class="pull-right"><a [routerLink]="['/addVenue']" class="btn btn-sm btn-primary btn-create">Create New</a></div>            
        </div>
        <div class="card-block p-0">
            <table class="table table-bordered table-sm m-0">
                <thead class="">
                    <tr>
                        <th></th>
                        <th>Field Name</th>
                        <th>Created</th>
                        <th>Created By</th>
                        <th>Modified</th>
                        <th>Modified By</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let venue of venues'>                        
                        <td>
                            <a class="btn btn-sm btn-primary btn-create" [routerLink]="['/venue', venue.Id]" >Edit</a>
                            <a class="btn btn-sm btn-danger" (click)='remove(venue.Id)' >Delete</a>
                        </td>
                        <td>{{venue.VenueName}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>                 
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer p-0">
        </div>
    </div>
</main>
