<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <script>
    function show(){
      var div = document.getElementById('panelIzq').style.visibility='visible';
    }
    </script>
  </head>
  <body ng-app="nvslonlineAppApp" ng-controller="MainCtrl as vm" ng-init="vm.access=false">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse,#bs-sidebar-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
               <span class="titleNvslonline">{{vm.title}}</span>
                   <!-- <img src="images/logo.png" style="display: inline-block; height: 35px; margin-bottom: 20px;">
                    <span style="display: inline-block;"><h3 style="margin-top: 5px;">{{vm.title}}</h3></span>-->
            </a>
          </div>
          <!--<div class="page-header">
              <h1>NVSLONLINE</h1>
          </div>-->
          

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav navbar-right" >
               
              <li ui-sref-active="active" ng-if="!vm.access"><a ui-sref="home">Home</a></li>
              <li ui-sref-active="active" ng-if="!vm.access"><a ui-sref="team">Teams</a></li>
              <li ui-sref-active="active" ng-if="!vm.access"><a ui-sref="schedule">Schedule</a></li>
              <li ui-sref-active="active" ng-if="!vm.access"><a ui-sref="standing">Standing</a></li>
              <li ui-sref-active="active" ng-if="!vm.access"><a ui-sref="contact">Contact</a></li>
              <li ui-sref-active="active" ng-if="!vm.access"><a ui-sref="signUp">Sign Up</a></li>
              <li ui-sref-active="active" ng-if="!vm.access" style="cursor:pointer"><a ng-click="vm.login()" onclick="show()">Log In</a></li>
                <li ng-hide="!vm.access" class='dropdown' style="cursor:pointer">
                            
                            <a class='dropdown-toggle' data-toggle='dropdown'>{{vm.user}}
                              <b class='caret'></b></a>
                            <ul class='dropdown-menu'>
                                <li><a ui-sref="settings">Edit Profile</a></li>                                
                                <li><a ui-sref="settings">Account Settings</a></li>
                                <li><a ng-click="vm.logOut()">Sign Out</a></li>
                            </ul>
                </li> 
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  
    <div class="header">
      <div class="row">
        <div style="visibility:hidden" ID="panelIzq">
            <div ng-if="vm.access">
              <div class="col-md-2 sidebar">
                
                
                  <!-- uncomment code for absolute positioning tweek see top comment in css -->
                  <div class="absolute-wrapper"> </div>
                    <!-- Menu -->
                    <div class="side-menu">
                      <nav class="navbar-default" role="navigation"> <!--<nav class="navbar navbar-default" role="navigation">-->
                        <!-- Main Menu -->
                        
                        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                          
                          <ul class="nav navbar-nav">
                            <li style="clear:both;"><a ui-sref="dashboard"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                            <li style="clear:both;"><a ui-sref="adminTeam"><span class="glyphicon glyphicon-picture"></span> Teams</a></li>
                            <!--<li style="clear:both;"><a ui-sref="adminPlayer"><span class="glyphicon glyphicon-picture"></span> Players</a></li>-->
                            <li style="clear:both;"><a ui-sref="adminSchedule"><span class="glyphicon glyphicon-calendar"></span> Schedule</a></li>
                            <li style="clear:both;"><a ui-sref="standing"><span class="glyphicon glyphicon-globe"></span> Standings</a></li>
                            <!-- Dropdown-->
                            <li style="clear:both;" id="dropdown" >
                                <button style="clear:both;text-decoration:none" type="button" class="btn btn-link" data-toggle="collapse" data-target="#dropdown-lvl1">
                                  <span class="glyphicon glyphicon-user"></span> Lookup tables
                                  </button>
        
                              <div id="dropdown-lvl1" class="collapse">
                                <div class="panel-body">
                                  <ul class="nav navbar-nav">
                                    <li style="clear:both;"><a ui-sref="adminSeason" >Seasons</a></li>
                                    <li style="clear:both;"><a ui-sref="adminDivision" >Divisions</a></li>
                                    <li style="clear:both;"><a ui-sref="adminVenue" >Venues</a></li>
                                    <li style="clear:both;"><a ui-sref="adminContact" >Contacts</a></li>
                                    <li style="clear:both;"><a ui-sref="adminNew" >News</a></li>
                                  </ul>
                                </div>
                              </div>
                            </li>
                            <li style="clear:both;"><a href="#"><span class="glyphicon glyphicon-edit"></span> Settings</a></li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </nav>
                    </div>
                  </div>  		
              
            </div> 
        </div>
        <div class="col-md-10" ui-view></div>
      </div>
    
  </div>

    <div class="footer">
      <div class="container">
        
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-linq/angular-linq.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/app.config.js"></script>
        <script src="scripts/services/datacontext.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/division.js"></script>  
        <script src="scripts/controllers/team.js"></script> 
        <script src="scripts/controllers/schedule.js"></script>   
        <script src="scripts/controllers/standing.js"></script> 
                     
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/services/authentication.js"></script>
        <script src="scripts/controllers/a_division.js"></script>
        <script src="scripts/controllers/a_schedule.js"></script>
        <script src="scripts/controllers/a_season.js"></script>
        <script src="scripts/controllers/a_team.js"></script>
        <script src="scripts/services/common.js"></script>
        <script src="scripts/controllers/a_venue.js"></script>
        <script src="scripts/controllers/a_player.js"></script>
        <script src="scripts/controllers/player.js"></script>
        <script src="scripts/services/parameters.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/a_new.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/a_contact.js"></script>
        <!-- endbuild -->
       <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" >
</body>
</html>
